body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ancizar Sans';
}

.roboto-style {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.main-container{
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 30em;
    border-width: 5px;
    border-radius: 10px;
    margin: 100px 0px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    background-color: #2e343a;
}

.screen-container {
    font-size: 60px;
    text-align: end;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgb(229, 233, 230);
    margin-bottom: 10px;
    padding: 10px;

}

.history {
    font-size: 28px;
    color: rgb(95, 95, 95);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


button {
    font-family: 'Ancizar Sans';
    flex-grow: 1;
    font-size: 40px;
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
    border-style:hidden;
    box-shadow: 0px 5px #ccc;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

}

button:active {
    transform: translateY(4px);
    box-shadow: 0 1px #aaa;
  }

.operator {
    background-color: hsl(37, 100%, 72%);
    box-shadow: 0 5px hsl(37, 98%, 30%);

}

.number, .dot {
    background-color: #ffffff
}

.function {
    background-color: hsl(214, 93%, 84%);
    box-shadow: 0 5px hsl(214, 93%, 70%);
}
#zero {
    width: 13.7rem;
}
